---
ip: "192.168.10.10"
memory: 2048
cpus: 2
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: ~/code
      to: /home/vagrant/Code

sites:
    - map: homestead.app
      to: /home/vagrant/Code
      
    - map: laravel.dev
      to: /home/vagrant/Code/credence/public

    - map: aspen.dev
      to: /home/vagrant/Code/Aspen/public

databases:
    - homestead

features:
    - mariadb: false
    - ohmyzsh: false
    - webdriver: false

ports:
    - send: 3000
      to: 3000
    # - send: 3030
    #   to: 3030
      protocol: udp
